@import "variables";
.contact-wrapper{
    background-color: white;
    border: 1px solid $lightBorder;

    label{
        font-size: 1.1rem;
        // opacity: 1;
    }

    .custom-file{
        width: 100px;
        color: #fff;
    }

    p.desc{
        font-size: 1rem;
        color: $grayColor;
    }

    .custom-file-input:lang(en) ~ .custom-file-label::after {  
        color: #fff;
        background-color: $secondColor;
    }

    .second-btn{
        border-radius: 2px;
    }

    // right section

    .address{
        background-color: #018BC8;
        color: #fff;
        padding: 20px;
        padding-bottom: 40px;
        address:not(:first-child){
            margin-bottom: 5px;
        }

        address:first-child{
            margin-bottom: 20px;
        }
    }

}

textarea{
    resize: none;
}

.custom-file-label{
    border: 0;
    border-radius: 5px;
}

.custom-file-label::after{
    width: 100%;
    border-radius: 2px;

}