<app-component-title 
[title]="'contact us'" 
[sub-title]="'contact us'" 
src="'assets/images/core/about-slider.png'">
</app-component-title>

<section class="main-section main-background">
    <div class="container">
        <h2 class="main-title mb-10 lighter-header-color">Contact Form</h2>
    </div>

    <div class="p-20 contact-wrapper container light-border">
        <div class="row">
            <div class="d-block d-lg-none mb-30 col-lg-4 address-wrapper">
                <div class="address">
                    <address class="d-flex ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quaerat distinctio, quae dignissimos, natus ducimus</address>
    
                    <address class="d-flex">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="mh-10">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </span> 
                    </address>
    
                    <address class="d-flex">
                        <i class="fas fa-phone"></i>
                        <span class="mh-10">
                            222-154-1654-12
                        </span>
                    </address>
    
                    <address class="d-flex">
                      <span>@</span>
                      <span class="mh-10">
                        karim@gmail.com
                      </span>
                    </address>
    
                    <address class="d-flex">
                        <i class="fas fa-stopwatch"></i>
    
                        <span class="mh-10">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </span>
                    </address>
                    
                </div>
            </div>
    


            <div class="col-lg-7">
                <form action="" id="contact-form">
                    <div class="row main-form-container">
                    
                        <div class="des col-md-12">
                            <p class="desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellat ab reiciendis quibusdam vel modi assumenda ea porro qui quisquam, illum adipisci similique ipsum obcaecati? Tempore consequatur labore a illo?
                            </p>
                        </div>

                    <div class="col-md-6 form-group">
                        <label class="desc-light gray-color" for="name">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="desc-light gray-color" for="email">Email address <span class="text-danger">*</span></label>
                        <input id="email" type="email" class="form-control">
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="desc-light gray-color" for="order_number">Order Number</label>
                        <input id="order_number" type="email" class="form-control">
                    </div>
                    
                    <div class="col-md-6 form-group">
                        <label class="desc-light gray-color" for="customFile">Attach File</label>
                        <br>
                        <div class="custom-file">
                            <input name="image" required type="file"
                              class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <label class="desc-light gray-color" for="message">Message</label>
                        <textarea rows="4" id="message" class="form-control"></textarea>
                    </div>
                </div>

              
                </form>
            </div>

            <div class="col-md-1"></div>

            <div class="d-none d-lg-block col-lg-4 address-wrapper">

            <div class="address">
                <address class="d-flex ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quaerat distinctio, quae dignissimos, natus ducimus</address>

                <address class="d-flex">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="mh-10">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </span> 
                </address>

                <address class="d-flex">
                    <i class="fas fa-phone"></i>
                    <span class="mh-10">
                        222-154-1654-12
                    </span>
                </address>

                <address class="d-flex">
                  <span>@</span>
                  <span class="mh-10">
                    karim@gmail.com
                  </span>
                </address>

                <address class="d-flex">
                    <i class="fas fa-stopwatch"></i>

                    <span class="mh-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </span>
                </address>
                
            </div>
        </div>

            <div class="w-100">
                <hr>
            </div>    
            
            <div class="action col-md-7">
                <button form="contact-form" type="submit" class="btn second-btn border-none">Submit</button>

                <h3 class="float-right desc-light gray-color"><span class="text-danger">*</span> Required Fields</h3>
            </div>
        </div>

        
        
    </div>
</section>
