<app-component-title 
[title]="'faq\'s'" 
[sub-title]="'faq\'s'" 
src="'assets/images/core/about-slider.png'">
</app-component-title>

<section class="main-section main-background">
    <div class="container">
        <div class="some-margin faq-wrapper">
            <mat-expansion-panel #item *ngFor="let i of [1,2,1,3,1,3,1,5]" class="question">
                <mat-expansion-panel-header > 

                    <h2 class="main-title mv-20 w-100 d-flex justify-content-space-between">Lorem ipsum dolor sit, amet consectetur adipisicing elit ? 
                        <span *ngIf="!item.expanded" class="ml-auto">
                            <i class="fas fa-plus"></i>
                        </span>

                        <span *ngIf="item.expanded" class="toggle ml-auto">
                            <i class="fas fa-minus"></i>
                        </span> 
                    </h2>
                </mat-expansion-panel-header>
                
                <p class="gray-color desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel eveniet praesentium illo rerum recusandae modi minus, alias debitis mollitia suscipit illum dolorem, aliquid laudantium? Sit voluptas quis doloribus unde sed.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptates corrupti omnis tenetur delectus. Commodi quasi porro dolores eum vero impedit facilis optio repellat ipsa, minima ipsum quia eaque architecto.
                </p>
            </mat-expansion-panel>
        </div>
    </div>
</section>