$mainColor: #FFA146;
$secondColor: #5A83A4; //rgb(23, 81, 127); // #6F94B0;
$secondLighterColor: rgb(71, 86, 119); // for courses

$textLightColor: rgb(00, 200, 200); 
$mainBackground: #F7FBFD; // rgba(212,232,247,.45); //#E9F3FB;
$lightBackground: #F7FBFD;
$grayColor: rgb(112,112,112);//#777777;
$purblueColor: #334565; //rgb(51, 69, 101);
$lightBorder: #e5e5e5; //#F3F6F7;
$mainHeaderColor: rgb(23, 81, 127); //#046F98;
$secondHeaderColor: rgb(230, 107, 113); //#046F98;
$blackHeaderColor: #333333; //rgb(33,37,41);

$starsColor: #FCCD36;
$lighterHeaderColor: rgb(23, 81, 127); //#046F98;
$overLayColor:  rgba(141, 192, 232, 0.45);//#C2DDEE;
$whiteColor: #fff;
$silverColor: gainsboro; //rgb(171,171,171);
$mainTransition: all .5s;

$borderBlueColor: #BCCDDC;

$right: "right"; 
$left: "left";