<div class="main-wrapper ph-50 pv-30" >
    <div class="warn d-flex justify-content-center second-admin-color">
        <div class="">
            <i class="fas fa-exclamation "></i>
        </div>
    </div>
    
    <h3 class="mb-20" mat-dialog-title> Heads up! </h3>
    
    <mat-dialog-content class="text-center mb-20">
        Are You sure?
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="delete-btn"  mat-dialog-close="no"> cancel</button>
    
        <button class="delete-btn ml-10 cancel"   mat-dialog-close="yes"> continue </button>
    </mat-dialog-actions>    
</div>
