@import "variables"; 

#non-free-course{
    max-height: 300px;    
}

.expand{
    max-height: 330px !important;
}

.admin-btn{
    height: 50px;
    background-color: #E3EAEF;
    border: 0;
    color: $brawnColor;
    
    &:hover{
        color: $brawnColor !important;
    }

    &.active{
        background-color: $adminBtnColor;
        color: #fff;

        &:hover{
            color: #fff !important;
        }
            
        .fas{
            color: #fff;
        }
    }

}


.next-step-btn{
    display: block;
    width: 170px;
    border: 1px solid $adminBtnColor;
    color: $adminBtnColor;
    font-size: 1.2rem;
    &:hover{
        color: #fff !important;
        background-color: $adminBtnColor !important;
    }
}


.progress{
    height: 8px;
}

*{
    color: $brawnColor
}

.arrow-btn{
    background-color: #39AFD1;
    padding: 7px 15px;
    border-radius: 3px;
    margin: 8px;

    .fas{
        font-size: .8rem;
        color: #fff;
    }
}

.in-visible{
    height: 0;
    overflow: hidden;
}


.submit-btn{
    // font-size: .8rem;
    font-weight: lighter;

}

input{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.input-search{
    height: 35px;
    border: 1px solid $lightBorder;
    border-radius: 0;
    padding: 3px;
    color: $textColor
}


.fa-plus, .fa-minus{
    color: white;
    height: 100%;
    padding: 0 15px;
    background-color: #0acf97;
    border-color: #0acf97;
    box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);

    &:hover{
        color: #fff;
        background-color: #08ab7c;
        border-color: #089e74;
    }
        
}


.fa-minus{
    background-color: #fa5c7c;
    border-color: #fa5c7c;
    box-shadow: 0 2px 6px 0 rgba(250,92,124,.5);
    &:hover{
        color: #fff;
        background-color: #f9375e;
        border-color: #f82b54;
    }
        
}

.control-item-4-form{
    position: relative;

    .loader-image{
        // position: absolute;
        // top: 0;
        // right: 0;
        bottom: 0;
        left: 0;
    }
}