<app-component-title 
 [title]="'live events & courses list'"
 src="'assets/images/core/courses-slider.png'"
 [sub-title]="'live events & courses list'"
 ></app-component-title>

<section class="coursers main-section main-background">
    <div class="container">
      <div class="d-flex ">
        <h2 class="p-0 main-title  col-md-7"> Browse by <span>Category</span> </h2>

        <button style="width: 200px;" mat-button class="d-lg-none btn p-0 " [matMenuTriggerFor]="menu"> Category <i class="fas fa-chevron-down"></i></button>

        <mat-menu  #menu="matMenu">
          <button class="text-center" (click)="changeCategory(0)" mat-menu-item>All Categories</button>
          <button  class="text-center" *ngFor="let category of categories"  (click)="changeCategory(category)" mat-menu-item>{{category.name}}</button>
        </mat-menu>
      </div>
    
      <article class="d-none d-lg-flex categories-wrapper mv-20">
         <a *ngFor="let category of categories"  class="d-flex hover cat-img-wrapper" [ngClass]="{'in-active': category.id !== categoryId}" (click)="changeCategory(category)">
          <img class="cat-img" [src]="'//devmode.fv.academy/public/files/' + category.img" alt="">
            <h5 class="cat-name"> {{category.name}}  <br> Courses</h5>
         </a>

         <a class="d-flex hover see-all" [ngClass]="{'in-active': categoryId !== 0}" (click)="changeCategory(0)">
            <h5 class="cat-name">see  <br> All</h5>
         </a>
      </article>

      <h2 class="p-0 main-title col-md-7 text-capitalize"> Browse All   <span>Courses {{activeCatName}} </span> <b>& </b> Events </h2>
       
    <div class="coursers-wrapper">
     
      <div *ngIf="!isloading">
        <div  class="row" >
          <app-course-item *ngFor="let course of courses" class="col-md-6 col-lg-4 col-xl-3 mb-30" [course]="course"></app-course-item>
        </div>
      </div>

      <div class="row">
        <div *ngIf="isloading" class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      
    </div>

    <!-- spinner -->
   


    <!-- start pagination -->
<nav class="d-flex" aria-label="Page navigation example">
   <ul class="m-auto pagination">
     <li class="page-item">
       <button [disabled] = "this.pages.current_page == 1" (click)="prev()" class="page-link " aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
       </button>
     </li>
 
     
     <li class="page-item" >
       <button  class="active page-link" >{{pages.current_page}}</button>
     </li>
   
     <li  class="page-item">
       <button (click)="next()" [disabled] = "this.pages.current_page >= this.pages.last_page"  class="page-link" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
       </button>
     </li>
   </ul>
 </nav>
 <!-- end pagination -->
</div>

</section>
