<app-component-title 
 [title]="'live events & courses list'"
 src="'assets/images/core/courses-slider.png'"
 [sub-title]="'live events & courses list'"
 ></app-component-title>

<section class="coursers main-section main-background">
    <div class="container">
      <h2 class="p-0 main-title col-md-7"> Browse by <span>Category</span> </h2>
    
      <article class="d-flex categories-wrapper mv-20">
         <a *ngFor="let category of categories" class="d-flex hover cat-img-wrapper" (click)="changeCategory(category.id)">
          <img class="cat-img" src="assets/images/7.jpg" alt="">
            <h5 class="cat-name"> {{category.name}}  <br> Courses</h5>
         </a>

         <a class="d-flex hover see-all" (click)="changeCategory(0)">
            <h5 class="cat-name">see  <br> All</h5>
         </a>
      </article>

      <h2 class="p-0 main-title col-md-7 text-capitalize"> Browse All   <span>Courses </span> <b>& </b> Events </h2>
       
    <div class="coursers-wrapper row">
      <div *ngIf="!isloading" class="col-md-3 mb-20">
        <div  *ngFor="let course of courses">
          <app-course-item [course]="course"></app-course-item>
        </div>
      </div>

      <div *ngIf="isloading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- spinner -->
   

    <!-- <div class="load-more-wrapper text-center">
      <button class="btn second-color">Load more...</button>
    </div> -->

    <!-- start pagination -->
<nav class="d-flex" aria-label="Page navigation example">
   <ul class="m-auto pagination">
     <li class="page-item">
       <button class="page-link " aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
       </button>
     </li>
 
     
     <li class="page-item" >
       <button class="active page-link" >1</button>
     </li>
   
     <li class="page-item">
       <button class="page-link" aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
       </button>
     </li>
   </ul>
 </nav>
 <!-- end pagination -->
</div>



</section>

<!-- 
<mat-progress-spinner>
</mat-progress-spinner> -->
