<section class="main-wrapper">
    
    <h2 class="mian-header">
        this course consists of two parts:
    </h2>

    <div class="loop-item">
        <h3>
            1- the first part will discus the following
        </h3>
        <div class="vedio-item">
            <div class="d-flex top">
                <button class="btn img-btn p-0 ">
                    <img class="play-img" src="assets/images/core/play-button.svg" alt="">
                </button>
    
                <div class="details mh-20">
                    <h3 class="title mv-0">1-  introudicton to Angular</h3>
                    <h3 class="title mv-0"> Angular lap lap lap lap</h3>
                </div>
    
                 <div class="time ml-auto pv-10 ph-30">
                    <span>2:40 m</span>
                </div>
            </div>
            
            <h4 class="mt-20 mb-0"><span class="date">12/5/2020</span> <span class="mh-20"> <small>|</small> 10 min</span></h4>
    
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>    
    </div>
    
</section>