@import "variables";
table{
    background-color: #ffffff;
    box-shadow: none;
    padding: 0;
    *{
        color: $brawnColor !important;
        border-color: $lightBorder !important;
    }

    td{
        height: 80px;
    }

    th{
        font-size: .9rem;
    }

    .action-btn{
        padding: 3px 20px;
        transition: $mainTransition;
        mat-menu{
            background-color: #fff;
        }
        &:hover{
            background-color: $adminBtnColor;

            i{
                color: #fff !important;
            }
        }

        i{
            font-size: .7rem;
        }
    }

}