<section class="d-flex dash-top">
        <div class="action">
            <a class="take-course black-header-color font-weight-bold">Take New Course</a>
            <!-- <p class="desc">Directory to our courses & event list this for students only</p> -->

            <a class="new-course" >  <span class="add">+</span> <span class="title mh-10">create new course</span>  </a>
        </div>

        <div class="row courses">
            <div class="mh-10 col-md course-wrapper">
                <h2 class="course-name">test test test test test test test test test test test test </h2>
                <div class="instructors">
                    <h3 class="instructor second-color m-0">instructors</h3>
                    
                    <div class="images d-flex">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <span class="rounded-small-img second-color"> + 12 </span>
                    </div>

                    <h5 class="mt-20 mb-0 second-color course-compeletion" >course completion <span class="mh-20">20%</span></h5>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>

            
            <div class="mh-10 col-md course-wrapper">
                <h2 class="course-name">test test test test test test test test test test test test </h2>
                <div class="instructors">
                    <h3 class="instructor second-color m-0">instructors</h3>
                    
                    <div class="images d-flex">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <span class="rounded-small-img second-color"> + 12 </span>
                    </div>

                    <h5 class="mt-20 mb-0 second-color course-compeletion" >course completion <span class="mh-20">20%</span></h5>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>

            <div class="mh-10 col-md course-wrapper">
                <h2 class="course-name">test test test test test test test test test test test test </h2>
                <div class="instructors">
                    <h3 class="instructor second-color m-0">instructors</h3>
                    
                    <div class="images d-flex">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <img class="rounded-small-img" src="assets/images/7.jpg" alt="">
                        <span class="rounded-small-img second-color"> + 12 </span>
                    </div>

                    <h5 class="mt-20 mb-0 second-color course-compeletion" >course completion <span class="mh-20">20%</span></h5>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>
</section>


<section class="all-courses mt-30 text-left">
    <header class="text-left no-gutters  text-uppercase row">
        <div class="d-flex justify-content-center col-md-4" >
            <h4 class="header">upcomming events & courses</h4>
        </div>

        <h4 class="header col-md-2 ph-10"> date</h4>
        <h4 class="header col-md-3"> instructor</h4>
        <h4 class="header col-md-3"> status</h4>
    </header>

    <div class="no-gutters item row">
        <div class="text-center col-md-4 d-flex justify-content-center align-items-center">
            <img class="course-img" src="assets/images/7.jpg" alt="">
            <h4 class="p-0 mv-0 mh-20">Course name</h4>
        </div>
        <h4 class="p-0 m-0 col-md-2 ph-10"> thr, 20 Aprl</h4>
        <h4 class="p-0 m-0 col-md-3"> instructor</h4>
        <div class="p-0 m-0 col-md-3 text-uppercase  d-flex align-items-center"> 
          <h4 class="in-progress mv-0 pv-10 ph-20">in progress</h4>
          <!-- <h4 class="in-progress open mv-0 pv-10 ph-20">open</h4> -->
        </div>
    </div>

    
    <div class="no-gutters item row">
        <div class="text-center col-md-4 d-flex justify-content-center align-items-center">
            <img class="course-img" src="assets/images/7.jpg" alt="">
            <h4 class="p-0 mv-0 mh-20">Course name</h4>
        </div>
        <h4 class="p-0 m-0 col-md-2 ph-10"> thr, 20 Aprl</h4>
        <h4 class="p-0 m-0 col-md-3"> instructor</h4>
        <div class="p-0 m-0 col-md-3 text-uppercase  d-flex align-items-center"> 
          <h4 class="in-progress mv-0 pv-10 ph-20">in progress</h4>
          <!-- <h4 class="in-progress open mv-0 pv-10 ph-20">open</h4> -->
        </div>
    </div>

    
    <div class="no-gutters item row">
        <div class="text-center col-md-4 d-flex justify-content-center align-items-center">
            <img class="course-img" src="assets/images/7.jpg" alt="">
            <h4 class="p-0 mv-0 mh-20">Course name</h4>
        </div>
        <h4 class="p-0 m-0 col-md-2 ph-10"> thr, 20 Aprl</h4>
        <h4 class="p-0 m-0 col-md-3"> instructor</h4>
        <div class="p-0 m-0 col-md-3 text-uppercase  d-flex align-items-center"> 
          <h4 class="in-progress mv-0 pv-10 ph-20">in progress</h4>
          <!-- <h4 class="in-progress open mv-0 pv-10 ph-20">open</h4> -->
        </div>
    </div>

    
    <div class="no-gutters item row">
        <div class="text-center col-md-4 d-flex justify-content-center align-items-center">
            <img class="course-img" src="assets/images/7.jpg" alt="">
            <h4 class="p-0 mv-0 mh-20">Course name</h4>
        </div>
        <h4 class="p-0 m-0 col-md-2 ph-10"> thr, 20 Aprl</h4>
        <h4 class="p-0 m-0 col-md-3"> instructor</h4>
        <div class="p-0 m-0 col-md-3 text-uppercase  d-flex align-items-center"> 
          <h4 class="in-progress mv-0 pv-10 ph-20">in progress</h4>
          <!-- <h4 class="in-progress open mv-0 pv-10 ph-20">open</h4> -->
        </div>
    </div>

    
    <div class="no-gutters item row">
        <div class="text-center col-md-4 d-flex justify-content-center align-items-center">
            <img class="course-img" src="assets/images/7.jpg" alt="">
            <h4 class="p-0 mv-0 mh-20">Course name</h4>
        </div>
        <h4 class="p-0 m-0 col-md-2 ph-10"> thr, 20 Aprl</h4>
        <h4 class="p-0 m-0 col-md-3"> instructor</h4>
        <div class="p-0 m-0 col-md-3 text-uppercase  d-flex align-items-center"> 
          <h4 class="in-progress mv-0 pv-10 ph-20">in progress</h4>
          <!-- <h4 class="in-progress open mv-0 pv-10 ph-20">open</h4> -->
        </div>
    </div>
</section>


<!-- main section -->
<section class="admin main-section">
    <h3 class="text-gray system-header text-uppercase">system audience </h3>

    <div class="row">
        <div class="col-md-6">
            <app-bar-chart></app-bar-chart>
        </div>

        <div class="col-md-6">
            <app-chart style="width: 500px; height: 500px;"></app-chart>
        </div>
    </div>
</section>