@import "variables";
// summary 
app-summary{
    border-right: 1px solid $lightBorder;
    color: $brawnColor;
    &:last-child{
        border-right: 0;
    }
}

// inputs filter 
label.input-group{
    color: $textColor !important;
}

.admin-btn{
    height: 40px;
    max-height: 40px;
    color: #fff !important;
    background-color: $adminBtnColor;
}

.input-search{
    height: 35px;
    border: 1px solid $lightBorder;
    border-radius: 0;
    padding: 3px;
    color: $textColor
}



// table 

.admin-table{
    border-top: 1px solid $lightBorder;
}