@import "variables";

.main-header{   
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

        .home-icon{
                margin:  0 10px;
                background-color: $purblueColor;
                border-radius:50%;
                padding: 5px;
                display: inline-block;
                width: 30px;
                height: 30px;
                padding-bottom:0 ;
                .fa-home{
                    color: $whiteColor;
                    font-size: 1.5rem;        
                    margin-left: -7px;
                }   
    }
}

.side-items{
    .side-item{
        display: block;
        border-bottom: 1px solid $borderBlueColor;
        padding: 15px;
        font-size: 1.2rem;
        
        &.active{
            color: $mainColor;
        }
    
    }
}