<aside class="text-left pv-20 ph-10">
    <h2 class="text-left main-header-color main-header"> 
        <span class="home-icon">
            <i class="fas fa-home"></i>
        </span>
        Dashboard
    </h2>

    <ul class="side-items text-capitalize main-black-header"> 
        <li class="side-item active"><a href=""> dashboard </a></li>
        <li class="side-item"><a href=""> projects </a></li>
        <li class="side-item"><a href=""> team & members </a></li>
        <li class="side-item"><a href=""> courses </a></li>
        <li class="side-item"><a href=""> financial </a></li>
        <li class="side-item"><a href=""> sales </a></li>
        <li class="side-item"><a href=""> accounting </a></li>
        <li class="side-item"><a href=""> marketing </a></li>
        <li class="side-item"><a href=""> email marketing </a></li>
        <li class="side-item"><a href=""> discounts & coupons </a></li>
        <li class="side-item"><a href=""> advertising & features </a></li>
        <li class="side-item"><a href=""> settings </a></li>
        <li class="side-item"><a href=""> static pages </a></li>
    </ul>
</aside>
