<div class="chat-users row pt-30">
    <div class="col-md-3">
        <!-- search -->
          <!-- search box -->
          <div class="search input-group mb-20">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div> 
            <input  type="text" class="form-control" placeholder="name">
        </div>
        <!-- end of search box -->
        

        <!-- users  -->
        <div class="users-wrapper">
            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>

            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>

            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>

            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>
            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>
            <button routerLink="10" class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> 
            <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> 
            <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> 
            <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> 
            <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button> <button routerLink="10"
                class="mb-20 d-flex justify-content-start user-wrapper rounded btn w-100 users">
                <h2 class="m-0 name">karim ali saber</h2>
            </button>
        </div>

    </div>

    <div class="chat col-md-9">
        <!-- <router-outlet></router-outlet> -->
    </div>
</div>