<div class="chat-users row pt-30">
    <div class="col-md-3">
        <!-- search -->
          <!-- search box -->
          <div class="search input-group mb-20">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div> 
            <input  type="text" class="form-control" placeholder="name">
        </div>
        <!-- end of search box -->
        

        <!-- users  -->
        <div *ngIf="isLoading" class="users-wrapper">
            <div class="row">
                <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading" class="users-wrapper">
            <a *ngFor="let student of students" [routerLink]="student.id + '/' + student.first_name + ' ' + student.last_name" class="mb-20 d-flex justify-content-start user-wrapper active rounded btn w-100 users">
                <h2 class="m-0 name">{{student.first_name}} {{student.last_name}}</h2>
            </a>
        </div>
        
        <div class="align-items-center d-flex pagination-wrapper justify-content-center">
            <button [disabled] = "this.pages.current_page == 1" (click)="prev()" class="p-0 d-inline-block left btn "><i class="fas fa-angle-double-left"></i></button>

            <div class="number">{{pages.current_page}}</div>

            <button [disabled] = "this.pages.current_page >= this.pages.last_page" (click)="next()" class="p-0 d-inline-block left btn"><i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>

    <div class="chat col-md-9">
        <!-- <router-outlet></router-outlet> -->
    </div>
</div>