<app-main-admin-title
    [title]="'Categories'"
    [type]="'category'"
    [link] ="'/admin/add_category'"
>
</app-main-admin-title>

<section *ngIf="!isLoading" class="row">
    <div *ngFor="let category of categories" class="col-md-4 mb-70">
        <div class="card light-shadow">
            <img [src]="'//devmode.fv.academy/public/files/' + category.img" class="card-img-top" alt="..." style="height: 470px;">
            <div class="card-body">
                <h4 class="card-title ">{{category.name}}</h4>  

                <div class="action d-flex">
                    <a [routerLink]=" '/admin/edit_category/' + category.id" class="rounded-0 btn btn-primary"><i class="fas fa-wrench"></i> edit</a>
                    <a (click)="deleteAlert(category.id)" class="btn btn-danger rounded-0"><i class="fas fa-trash"></i> delete</a> 
                </div>
            </div>
          </div>
    </div>
</section>

<div class="row">
    <div *ngIf="isLoading" class="spinner-border main-header-color" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
  