@import "variables";


.card-title{
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.4rem;
    color: #6c757d;
    margin-bottom: 30px ;
}

.card{
    transition: 5s;

}

.card:hover{
    .action{
        // height: auto;

    }
}
