<footer>
    <section class="main-background upper">
         <div class="container">
            <ul class="row">
                <li class="col-lg mb-30">
                    <img class="img-fluid" src="assets/images/core/logo-english-footer.png" alt="logo">
                </li>

                <li class="col-md col-6 mb-20">
                    <p class="title">Community</p>
                    <ul>
                        <li> <a class="item-link" href="/signup"> Creat Account </a> </li>
                        <li> <a class="item-link" href=""> Forum </a> </li>
                        <li> <a class="item-link" href=""> Get Coupon Code </a> </li>
                    </ul>
                </li>
            
                <li class="col-md col-6 mb-20">
                    <p class="title">Support</p>
                    <ul>
                        <li> <a class="item-link" href=""> Terms & Conditions </a> </li>
                        <li> <a class="item-link" href=""> Privacy & Policy </a> </li>
                        <li> <a class="item-link" href=""> Live Support </a> </li>
                        <li> <a class="item-link" href=""> Get Help </a> </li>
                    </ul>

                </li>

                <li class="col-md col-6 mb-20">
                    <p class="title">Join Us </p>
                    <ul>
                        <li> <a class="item-link" href=""> Members </a> </li>
                        <li> <a class="item-link" href=""> Instructors </a> </li>
                        <li> <a class="item-link" href=""> Partnership </a> </li>
                    </ul>
                </li>

                <li class="col-md col-6 mb-20">
                    <p class="title">Download App</p>

                    <ul>
                        <li>
                            <a class="icon item-link" href="">
                              <i class="fab fa-apple"></i>
                                Apple IOS 
                            </a>
                        </li>

                        <li>
                            <a class="icon item-link" href="">
                                <i class="fab fa-android"></i>
                                Google Play
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="bottom">
        <div class="container mv-20">
            <div class="row">   
                <p class="col-sm mr-auto copy">Copyrigght &copy; 2010-2020 powered by <a class="company-name">Dtag Solutions</a> </p>

                <a class="d-sm-block d-none text-right goto">go to To</a>
            </div>
        </div>
    </section>
</footer>