@import "variables";
.nav-item{
    line-height: 60px;
    font-size: 1.1rem;
    margin: 0 10px;
    text-transform: uppercase;
    .nav-link{
        color: $grayColor;
    }

    .nav-link.active{
        color: $mainColor;
    }


    &.lang{
        .nav-link{
            color: $secondColor;
        }
    }
    
}