@import "variables";
@import "mixin";
$mainHeight: 500px;

// slider
.slider{
    width: 100%;
    height: $mainHeight;
    position: relative;
    @include img-cover;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $overLayColor;
    }

    .add{
        z-index: 1000; 
        background-color: rgba(206, 232, 253, 0.45)
        ;//rgba($color: #D6ECF6, $alpha: .5);
        position: absolute;
        top: 23%;
        left: 17%;
        padding: 45px 15px;
        width: 40%;
        .title{
            color: #fff;
            font-size: 2.9rem;
        }

        .sub-title{
            font-size: 2rem;
            font-weight: 450;
            color: $secondColor;
        }

    }
}


@media(max-width:1200px ){
// slider
.slider{
    .add{
        width: 45%;
        .title{
            font-size: 2.5rem;
        }

        .sub-title{
            font-size: 1.6rem;
            font-weight: 450;
        }

    }
}

}



@media(max-width:992px ){
    // slider
    .slider{
        .add{
            width: 50% !important;
            .title{
                font-size: 2.3rem;
            }
    
            .sub-title{
                font-size: 1.4rem;
                font-weight: 450;
            }
    
        }
    }
}

@media(max-width:768px ){

    .slider{
        .add{
            width: 75%;
            .title{
                font-size: 1.6rem;
                font-weight: bold;
            }
    
            .sub-title{
                font-size: 1.2rem;
                font-weight: 500;
            }
    
        }
    }
    
}

@media(max-width:576px ){
    .static-slider{
        padding: 20px;
        margin-top: 60px;
    }
    .slider{
        border-radius: 20px;
        height: 300px;
        
        &::after{
            border-radius: 20px;
        }

        .add{
            display: none !important; 
        }
    }
}


// courses 
.title-wrapper {
    a.all-coursers {
      padding-top: 10px;
      color: $mainHeaderColor;
      border: 1.5px solid $secondColor;
    }
}

app-course-item{
      width: 100px !important;
}

@media(max-width: 992px){
    // courses 
    .title-wrapper {
        a.all-coursers {
        padding: 0;
        border: none !important;
        color: $mainHeaderColor;
        border: 1.5px solid $secondColor;
        
        &:hover{
            color: $mainColor;
        }
        }
    }
}

@media(max-width: 768px){
 .coursers{
    .title-wrapper {
        .main-title{
            font-size: 1.2rem;
            margin: 0 20px;
        }
    }     
 } 
}


 // feedback

 .feedback{
    .img-wrapper{
        @include img-cover;
    }

    blockquote{
        color: $secondLighterColor;
        position: relative;
        .fa-quote-left{
            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);    
            font-size: 3rem;
            opacity: .7;
            color: $overLayColor;
        }   
    }

    .title{
        color: $secondLighterColor;
        font-size: 1.8rem;
        font-weight: 550;
        margin: 0;
        padding: 0
    }

    .desc{
        opacity: 1;
        color: $secondLighterColor;
        font-weight: 500;
    }
    .sub-title{
        color: $secondLighterColor;
        font-size: 3.3rem;
        font-weight: 300;
        margin-top: 0;
        padding-top: 20px;
        position: relative;

        &.first::after{
            position: absolute;
            content: '';
            bottom: 20px; // padding
            width: 100px;
            height: 1px;
            margin: 0 60px;
            border: 1px solid;
        }
    }
  
    .fa-check{
        color: $mainColor;
    }

    // right section
    .clients-feedback{
        margin-top: 70px;
        border: 1.5px solid $silverColor;
        border-radius: 8px;
        .name{
            color: $secondLighterColor;
            margin-bottom: 6px;
            font-size: 1.3rem;
        }
        
        .position{
            font-size: .8rem;
        }
  
        // end right section
    }  
}


@media(max-width: 1200px){
    
    .sub-title{
        &.first::after{
            width: 70px !important;
            margin: 0 10px !important;
        }
    }
}


@media(max-width: 992px){    
    .sub-title{
        &.first::after{
            width: 80px !important;
            margin: 0 20px !important;
        }
    }
}

@media(max-width: 768px){    
    .sub-title{
        &.first::after{
            width: 0 !important;
        }
    }
}

// video-add

#viedo-add{
    .video-wrapper{
        position: relative;

        .video{
            border: 1px solid #c2c2c2;
            box-shadow: 0px 2px 4px 1px #c2c2c2;
            background-color: #fff;
            border-radius: 15px;
            width: 55%;
            position: relative;
            margin: auto;
            height: 550px;
        }

            iframe{
                position: absolute;
                top: 30px;
                right: 30px;
                left: 30px;
                bottom: 30px;
                height: calc(100% - 60px);
                width: calc(100% - 60px);
                // border-radius: 15px;
            }

            img{
                position: absolute;
                bottom: -70px;
                height: 120px;
                left: 50%;
                width: 63%;
                transform: translateX(-50%);
            }
    }
}

@media(max-width: 1200px){
    
#viedo-add{
    .video-wrapper{
        .video{
            width: 55%;
            height: 480px;
        }

            iframe{
         
                right: 30px;
                left: 30px;
                bottom: 30px;
                height: calc(100% - 60px);
                width: calc(100% - 60px);
                // border-radius: 15px;
            }

            img{
                position: absolute;
                bottom: -70px;
                height: 120px;
             
                width: 64%;
         
            }
    }
}

}



@media(max-width: 992px){
    
    #viedo-add{
        .video-wrapper{
            .video{
                width: 70% !important;
                height: 400px !important;
            }
        }
        img{
            position: absolute;
            bottom: -70px;
            height: 120px;
         
            width: 80% !important;
     
        }
    }
    
    }



    @media(max-width: 786px){
    
        #viedo-add{
            .video-wrapper{
                .video{
                    width: 95%;
                    height: 400px;
                }
    
            }
        }
        
    }
    
    
    @media(max-width: 576px){
    
        #viedo-add{
            .video-wrapper{
                .video{
                    height: 300px !important;
                }
            
                iframe{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    left: 15px;
                    bottom: 15px;
                    height: calc(100% - 30px);
                    width: calc(100% - 30px);
                    // border-radius: 15px;
                }
            }


        }
        
    }


.instructors{
    .main-title{
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
    .fa-long-arrow-alt-right,
    .fa-long-arrow-alt-left{
        font-size: 1.7rem;
        color: #ED9397;

        &:hover{
            cursor: pointer;
        }
    }

    .fas.not-active{
        opacity: .4;
    }

    
    .fas.active{
        opacity: 1;
    }
    app-instructor-item:focus{
        outline:  0 !important;
    }
}


// subscribe
.subscribe{
    .main-title{
        font-size: 1.8rem;
        font-weight: normal;
        color: $purblueColor;
    }

    .sub-title-wrapper{
        margin-top: 15px;
        position: relative;

        .subtitle{
            // color: $mainHeaderColor;
            font-size: 1.8rem;
            font-weight: bold;
            color: rgb(71, 86, 119);
        }

        .second-btn-wrapper{
            position: absolute;
            right: 16%;
            font-size: .8rem;
            .second-btn{
                padding: 10px 60px;
                border-radius: 30px;
            }
        }
    }
}




@media(max-width:768px ){
    .subscribe{
        .main-title{
            font-size: 1.4rem;
        }

        .sub-title-wrapper{    
            .subtitle{
                font-size: 1.4rem;
            }
            .second-btn{
                font-size: .9rem;
            }
        }
    }
    
}
