<app-component-title [title]="'shopping cart'" src="'assets/images/core/about-slider.png'"></app-component-title>

<section class="main-background main-section">
<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr class="main-header-color">
            <th class="rounded" scope="col">ITEM Name</th>
            <th scope="col">Price</th>
            <th class="rounded" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row capital name">
               <span class="upper">1ST</span>
               Saudi international confirence for clinical laboratory sciecnce    
            </td>
            <td class="price"> <span class="main-color"> SR </span>  46.00 </td>
            
            <td class="remove-wrapper"> <button class="remove"> x </button>  REMOVE </td>
          </tr>
          
        </tbody>
      </table>

      <div class="btn-wrapper">
        <a href="" class="float-right btn second-btn"> Check Out </a>
      </div>
      <div class="clearfix"></div>
      </div>
</section>