<app-component-title 
 [title]="'instructors'"
 src="'assets/images/core/courses-slider.png'"
 [sub-title]="'Home / instructors'"
 ></app-component-title>

<!-- 
<section class="slider" style="background: url('assets/images/core/instructors-slider.png');">
    <div class="container">
        <h1 class="title">instructors</h1>
    </div>
</section> -->
<!-- 
<div class="container">
    <h2 class="full-title mv-20 second-color">
        <i class="fas fa-home "></i> <span class="mh-20"> Home / instructors</span>
    </h2>
</div> -->

<!-- start instructors -->
<section class="pb-60 main-section main-background">
    <div *ngIf="!isloading" class="container">
        <div class="instructors-wrapper">

        <div *ngFor="let instructor of instructros" class="">
            
            <div class="d-inline-block instructor">
                <img class="img-fluid" [src]="'//devmode.fv.academy/public/files/' + instructor.image" alt="">
            
                <a [routerLink]="['/instructor', instructor.id]" class="details row no-gutters">
                    <div class="mr-auto">
                        <h3 class="name">{{instructor?.user_data?.first_name}} {{instructor?.user_data?.last_name}}</h3>
            
                        <h3 class="position">{{instructor?.user_data?.title}} & {{instructor?.user_data?.job}}</h3>
                    </div>
            
                    <p class="rate">
                        4.5
                    </p>
                </a>
            </div>
        </div>
        
        </div>
    </div>
    
    <div *ngIf="isloading" class="row">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</section>

<!-- end instructors -->