@import "mixin";
@import "variables";
.slider{
    height: 250px;
    @include overLay($overLayColor);
    .title{
        position: relative;
        z-index: 1000000000;
        line-height: 250px;
        color: $whiteColor;
        font-size: 3rem;
        font-weight: 500;
        text-transform: capitalize;
    }

    .full-title{
        text-transform: capitalize;
        span{
            font-size: 1rem;
        }
    }
}


.instructors-wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 20px 0;
}

@media(max-width: 1200px){
    .instructors-wrapper{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%; 
    }
}



@media(max-width: 992px){
    .instructors-wrapper{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%; 
    }
}


@media(max-width: 768px){
    
    .instructors-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
}