<div class="main-divider"></div>
<section class="main-section">
    <div class="login-wrapper">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <h1 class="main-title text-center pt-30 pb-50"> Forget Password</h1>

                <form class="pb-30" #userForm="ngForm" (ngSubmit)="submit(email.value)">
                    <h3 class="main-header-color"> Enter your phone number or recovery email </h3>

                    <div class="form-group row no-gutters">
                        <!-- <label for="userName" class="text-center col-sm-2 col-form-label"></label> -->
                        <div class="col-sm-10">
                          <input email required class="form-control" name="email" #email= "ngModel" ngModel placeholder="Enter your phone number or recovery email" id="userName">
                        </div>
                    </div>
         
                  <div class="action mt-40 d-flex">
                    <a routerLink="/login" class="main-header-color pt-20 d-inline-block"> Back to Login </a>

                    <input type="submit" class="d-block submit btn second-btn" value="NEXT">

                    <p class="ligth-color pt-20 d-inline-block float-right">No Account? <a class="main-header-color" routerLink="/signup">Sign Up</a></p>
                  </div>
                </form>    

            </div>
            <div class="col-md-6 p-0 d-none d-lg-block">
                <img class="img-fluid" src="assets/images/auth/auth.png" alt="">
            </div>
        </div>
    </div>
</section>