<app-main-admin-title
    [type]="false"
    [title]="'Add Instructor'"
    [link] ="false"
>
</app-main-admin-title>

<div class="white-background main-shadow">
    <h2 class="mh-30 pt-30 pb-20 brawn-color">COURSE ADDING FORM</h2>

    <section class="row no-gutters">
        <div class="p-0 col-md">
            <button id="control-1" (click)="move($event.target)" class="active btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-info"></i>
               Basic
            </button>
        </div>
    
        <div class="col-md">
            <button id="control-2" (click)="move($event.target)" class="btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-lock"></i>
                Requirements
            </button>
        </div>
    
        <div class="col-md">
            <button id="control-3" (click)="move($event.target)" class="btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-check"></i>
                Pricing
            </button>
        </div>

        <div class="col-md">
            <button id="control-4" (click)="move($event.target)" class="btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-check"></i>
                Media
            </button>
        </div>
<!-- 
        <div class="col-md">
            <button id="control-5" (click)="move($event.target)" class="btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-check"></i>
                Preview
            </button>
        </div> -->

        <div class="col-md">
            <button id="control-5" (click)="move($event.target)" class="btn w-100 rounded-0 admin-btn">
                <i class="mh-10 fas fa-check"></i>
                Finish
            </button>
        </div>
    </section>
    
        <div class="mh-20 mv-30 progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="progressStatus"></div>
        </div>
    
        <form class="m-auto w-75 ph-20">
            <!-- controll item one -->
            <section id="item-control-1" class="visible item basic-info">
                <div class="mb-20 form-group row no-gutters">
                    <label class="col-md-3" for="title"> Course Title <span class="text-danger">*</span> </label>
                    <input type="text" class="col-md-9 form-control" id="title" >
                </div>
          
                <div class="mb-20 form-group row no-gutters">
                    <label class="col-md-3" for="title"> Short description <span class="text-danger">*</span> </label>
                    <input type="text" class="col-md-9 form-control" id="title" >
                </div>
    
                <div class="mb-20 form-group row no-gutters">
                    <label class="col-md-3" for="title"> Description <span class="text-danger">*</span> </label>
                    
                    <div class="p-0 col-md-9">
                        <angular-editor  name="biography" [config]="editorConfig" ></angular-editor>
                    </div>    
                </div>

                <!-- category  -->
                <div class="mb-20 form-group row no-gutters">
                    <label class="col-md-3" for="title"> Category <span class="text-danger">*</span> </label>
                    
                    <div class="p-0 col-md-9">         
                        <mat-select value="0">
                            <div class="p-10 w-100">
                                <input type="text" class="w-100 input-search">
                            </div>

                            <mat-option selected value="0">
                                All
                            </mat-option>
                            
                            <mat-option *ngFor="let cat of categories" selected [value]="cat.id">
                                {{cat.name}}
                            </mat-option>
                        </mat-select>
                    </div>    
                </div>

                <!-- level -->
                <div class="row no-gutters">
                    <label class="col-md-3" for="title"> Level  <span class="text-danger">*</span> </label>
 
                    <div class="p-0 col-md-9">
                        <mat-select value="beginner">
                            <mat-option  selected value="beginner">
                                beginner
                            </mat-option>
    
                            <mat-option  selected value="beginner">
                                Intermediate
                            </mat-option>
    
                            <mat-option  selected value="beginner">
                                Advanced
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <!-- start date -->
                <div class="mb-20 mt-20 form-group row no-gutters">
                    <label class="col-md-3" for="title"> Start Date <span class="text-danger">*</span> </label>
                    
                    <div class="p-0 date-wrapper d-flex col-md-9">
                        <input class="form-control" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>    
                </div>

                  <!-- end date -->
                <div class="mb-20 mt-20 form-group row no-gutters">
                   <label class="col-md-3" for="title"> End Date <span class="text-danger">*</span> </label>
                    
                   <div class="p-0 date-wrapper d-flex col-md-9">
                       <input class="form-control" matInput [matDatepicker]="endDatePicker">
                       <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                       <mat-datepicker #endDatePicker></mat-datepicker>
                   </div>    
                </div>
            </section>
            
            <!-- control item 2 -->
            <section id="item-control-2" class="in-visible item">
                <div *ngFor ="let req of requirementsArray; index as i" class="form-group row no-gutters">
                   <!-- <div class="col-md-3">
                        <label [hidden]="i !==0" for="requirements"> Requirements</label>
                   </div>
                    
                    <div class="d-flex col-md-9 mb-10 justify-content-between">
                        <input placeholder="provide requirements" type="requirements" class=" form-control" [id]="'requirements-' + i">

                        <button (click)="addRequirement()" *ngIf="i=== 0" class="btn ml-30 p-0 d-flex align-items-center">
                            <i class="d-flex align-items-center rounded fas fa-plus"></i>
                        </button>

                        <button (click)="removeRequirement(i)" *ngIf="i > 0" class="btn  ml-30 p-0 d-flex align-items-center">
                            <i class="d-flex btn-danger align-items-center rounded fas fa-minus"></i>
                        </button>
                    </div> -->

                    <div class="mb-20 form-group row no-gutters">
                        <label class="col-md-3" for="title"> Description <span class="text-danger">*</span> </label>
                        
                        <div class="p-0 col-md-9">
                            <angular-editor  name="biography" [config]="editorConfig" ></angular-editor>
                        </div>    
                    </div>
                </div>
            </section>
            
            <!-- control item 3 -->
            <section id="item-control-3" class="main-transition in-visible item pricing">
                <div class="mb-20 form-group row no-gutters">
                   <div class="col-md-3"></div>

                    <input #freeCourse style="width: 15px; height: 15px;" type="checkbox" class="mr-10" id="freeCourse" >
                    <label class="col-md-3" for="freeCourse">Check if this is a free course</label>
                </div>

                <div  [ngClass]="{'h-0': freeCourse.checked, 'expand': !freeCourse.checked } " class="max-height-transition" id="non-free-course">
                    <div class="mb-20 form-group row no-gutters">
                        <label class="col-md-3" for="title"> Course Price(RS)</label>
                        <input type="number" class="col-md-9 form-control" id="price" >
                    </div>
    
                    <div class="mb-20 form-group row no-gutters">
                        <label class="col-md-3" for="title"> Discounted price(RS)</label>
                        <input type="number" class="col-md-9 form-control" id="discount" >
                    </div>
                </div>
            </section>

            <!-- item control 4 -->
            <section id="item-control-4" class="in-visible item">
                <div class="row no-gutters mb-30">
                    <label class="col-md-3" for="title"> Course thumbnail <span>(image or viedo) </span> <span class="text-danger">*</span> </label>
                    
                    <div class="input-group mb-3 col-md-9">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" id="thumbnail">
                        <label class="custom-file-label" for="thumbnail">Choose file</label>
                        </div>
                    </div>
                </div>

                <div class="mb-20 form-group row no-gutters">
                    <div class="col-md-3"></div>
 
                     <input #adobeConnect style="width: 15px; height: 15px;" type="checkbox" class="mr-10" id="adobeConnect" >
                     <label class="col-md-3" for="adobeConnect">Check if You Are Using Adobe Connect</label>
                 </div>

                <div *ngFor ="let outcome of chaptersArray; index as i" class="row no-gutters mt-50">
                    <div class="col-md-3">
                        <label [hidden]="i !==0" for="requirements"> Add Chapters </label>
                    </div>
                     
                    <div class="d-flex col-md-9 mb-20 justify-content-between">
                        <input placeholder="provide outcomes" type="requirements" class=" form-control" [id]="'outcome-' + i">

                        <button (click)="addChapter()" *ngIf="i=== 0" class="btn ml-30 p-0 d-flex align-items-center">
                            <i class="d-flex align-items-center rounded fas fa-plus"></i>
                        </button>

                        <button (click)="removeChapter(i)" *ngIf="i > 0" class="btn  ml-30 p-0 d-flex align-items-center">
                            <i class="d-flex btn-danger align-items-center rounded fas fa-minus"></i>
                        </button>
                    </div>

                    <div class="col-md-3"></div>

                    <app-add-lesson class="col-md-9"></app-add-lesson>
                 </div>
            </section>

            <!-- control item 5 -->
            <section id="item-control-5" class="in-visible item text-center finish">
                <div class="w-100">
                    <i class="far fa-check-circle"></i> 
                </div>
    
                <h2 class="m-0 w-100">
                    Add Course !
                </h2>
    
                <h4 class="">You are just one click away </h4>
                
                <div class="w-100">
                    <button type="submit" class="main-shadow rounded ph-0 btn white-color submit-btn">Add Coures</button>
                </div>
            </section>
        </form>
    
        <div class="d-flex justify-content-center actions pb-30 mt-20">
            <button (click)="moveBackowrd()" class="btn arrow-btn"><i class="fas fa-arrow-left"></i></button>
            <button (click)="moveForward()" class="btn arrow-btn"><i class="fas fa-arrow-right"></i></button>
        </div>
</div>