<form action="">
    <div class="form-group">
        <label class="main-label" for="question">Question <span class="text-danger">*</span> </label>
        <input type="email" class="form-control" id="question" placeholder="question">
    </div>

    <div class="form-group">
        <label class="main-label" for="answer">Answer <span class="text-danger">*</span></label>
        <textarea rows="7" type="email" class="form-control" id="answer" placeholder="answer"> </textarea>
    </div>

    <div style="width: 180px;" class="mv-20 action d-flex">
        <button type="submit" class="rounded-0 btn btn-primary"> Edit</button>
        <button class="btn btn-danger rounded-0"> Cancel</button> 
    </div>
</form>