@import "variables";
// related courses
.second-title {
    color: $blackHeaderColor;
    font-size: 1.1rem;
    font-weight: 550;
  }
  
  .third-title {
    // color: #494949;
    color: #000 !important;
    font-size: 1rem;
    font-weight: 450;
    // margin: 0;
    // padding: 0;
    line-height: .9rem;
  }
    
  
.related-courses-wrapper {
    background-color: $whiteColor;
    padding: 35px 20px;
    border: 1px solid $lightBorder;
    .course{
        position: relative;
        &::after{
            height: 100%;
            content: '';
            width: 1px;
            left: 98%;
            top: 0;
            position: absolute;
            background-color: #b8b8b8;
        }
       
        &:last-child::after{
            border: 0;
            height: 0;
            width: 0;
        }
    }
      .course-img {
        height: 130px;
        width: 120px;
      }
  
      .course-details {
          position: relative;
          
          .third-title {
              margin: 8px;
              font-size: 1rem;
              font-weight: 400;
            //   color: #494949;
            opacity: .9;
              
          }
  
          .date{
              position: absolute;
              bottom: 0;
              color: #b8b8b8;
              font-size: 1rem;
              font-weight: 400;
              svg{
                  margin: 0 8px;
                  width: 35px ;
                  height: 15px;
              }
          }
    }
  }
  