@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "framework";
@import "variables";
// @import '~@angular\material\prebuilt-themes\pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// generals

// google fonts
@import 'https://fonts.googleapis.com/css?family=Inconsolata|Cantarell';

*{
    // font-family: Cantarell;
}
// .custom-file-input:lang(en) ~ .custom-file-label::after {  
//     font-size: 16.5px;
//     width: 100%;
//     text-align: center;
//     height: auto;
// }
  
.desc{
    color: $mainHeaderColor;
    opacity: .8;
    font-weight: 500;
}

.main-background{
    background-color: $mainBackground;
    border-bottom: 1px solid rgba(87, 154, 211, 0.3);
    border-top: 1.5px solid rgba(87, 154, 211, 0.3);
}

.some-margin{
    margin-left: 20px;
}

.main-title{
    font-size: 1.9rem;
    font-weight: 400;
    color: rgb(33,37,41)
}

.desc-light{
    color: $textLightColor;
    opacity: .8;
    font-weight: 500;
}

.text-light-color{
    color: $textLightColor;
    font-weight: 450;
}

.main-section{
    padding: 50px 0;
}

// tools
.main-divider{
    background-color: $secondColor;
    height: 40px;
}

.light-shadow{
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
.main-shadow{
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
}
// buttons
.btn{
    border-radius: 20px;
    padding: 5px 6%;
    color: $mainHeaderColor;
    font-weight: 450;
}


.brawn-color{
    color: $brawnColor
}

.text-color{
    color: $textColor
}

.main-btn{
    background-color: $mainColor;
    color: #fff;
    transition: $mainTransition;
     
    &:hover{
        color: $mainHeaderColor;
    }
}

.admin-btn{
    display: block;
    width: 170px;
    border: 1px solid $adminBtnColor;
    color: $adminBtnColor;
    font-size: .9rem;
    &:hover{
        color: #fff !important;
        background-color: $adminBtnColor !important;
    }
}

.second-btn{
    background-color: #17517F !important;
    color: #fff;
    padding: 7px 4%;
    transition: $mainTransition;
    &:hover{
        color: $mainColor;
        color: #fff;

    }
}

// colors
.main-color{
    color: $mainColor;

    &:hover{
        color: $mainColor;
    }
}

.second-color{
    color: $secondColor;
    &:hover{
        color: $secondColor;
    }
}

.second-admin-color{
        color: $secondAdminColor;
    &:hover{
        color: $secondAdminColor;
    }
}

.silver-color{
    color: $silverColor;
    &:hover{
        color: $silverColor;

    }
}

.main-header-color{
    color: $mainHeaderColor;
    &:hover{
        color: $mainHeaderColor;

    }
}

.second-header-color{
    color: $secondHeaderColor;
    &:hover{
        color: $secondHeaderColor;

    }
}


.black-header-color{
    color: $blackHeaderColor;
    &:hover{
        color: $blackHeaderColor;

    }
}


.second-light-color{
    color: $secondLighterColor;
&:hover{
        color: $secondLighterColor;
    }
}

.stars-color{
    color: $starsColor;
    &:hover{
        color: $starsColor;

    }
}

.gray-color{
    color: $grayColor;
    &:hover{
        color: $grayColor;

    }
}

.lighter-header-color{
    color: $lighterHeaderColor;
    &:hover{
        color: $lighterHeaderColor;

    }
}

.light-color{
    color: rgba(200,200,200);
   &:hover{
        color: rgba(200,200,200);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.light-border{
    border: 1px soli $lightBorder;
}

// for courses
.coursers-wrapper, .instructors-wrapper{
    .owl-carousel.owl-drag .owl-item{
        // padding-right: 15px;
        max-width: 350px !important;
    }}
@media(max-width: 768px){
    //courses
    .coursers-wrapper, .instructors-wrapper{
        .owl-carousel.owl-drag .owl-item{
            // padding-right: 15px;
            max-width: 470px !important;
        }
    }   
}

@media(max-width: 576px){
    //courses
    .coursers-wrapper, .instructors-wrapper{
        .owl-carousel.owl-drag .owl-item{
            // padding-right: 15px;
            max-width: 450px !important;
        }
    }   
}

// for insturctor
.instructors-wrapper{
    .owl-carousel.owl-drag .owl-item{
        // padding-right: 15px;
        max-width: 250px !important;
    }
}


@media(max-width: 576px){
    
// for insturctor
.instructors-wrapper{
    .owl-carousel.owl-drag .owl-item{
        // padding-right: 15px;
        max-width: 350px !important;
    }
}

}



input:focus, select:focus, textarea:focus{
    border-color: $silverColor !important;
    outline: 0;
    box-shadow: none !important;
}

// faq

.mat-panel-title{
    box-shadow: 0 !important;
    padding: 0 !important;
}
// title

// general
.main-title{
    text-transform: capitalize;
    font-size: 1.7rem;
    color: $secondColor;
    font-weight: 400;
    b{
        font-weight: 400;
        color: $mainColor;
    }
    span{
        color: $mainHeaderColor;
        font-weight: bold;
    }
}

.main-title-bold{
    text-transform: capitalize;
    font-size: 1.9rem;
    color: $mainHeaderColor;
    font-weight: 600;
    
    }

// helpers 

.mat-expansion-indicator::after{
    // color: #000;
}

// view specific course
.main-wrapper .mat-expansion-panel-body{
    padding: 0 !important;  
}

.spinner-border{
    width: 100px;
    height: 100px;
    margin: 150px auto;
}

// pagination

.page-item{
    font-size: 1.1rem;
    
    .page-link{
        color: $grayColor;
            
        &.active{
            background-color: $mainColor;
        }
    }
}

// main admin 
mat-sidenav{
    .mat-expansion-panel-body {
        padding: 0;
    }
    
    .mat-expansion-indicator::after {
        color: #000;
        opacity: .9;
    }
}


// admin table 
table.admin-table{
    box-shadow: none;
    padding: 0;
    *{
        color: $brawnColor !important;
        border-color: $lightBorder !important;
    }

    td{
        height: 80px;
    }

    th{
        font-size: .9rem;
    }

    .action-btn{
        padding: 3px 20px;
        transition: $mainTransition;
        mat-menu{
            background-color: #fff;
        }
        &:hover{
            background-color: $adminBtnColor;

            i{
                color: #fff !important;
            }
        }

        i{
            font-size: .7rem;
        }
    }
}

.break {
    flex-basis: 100%;
    height: 0;
}

.confirm-dialog-container{
    // z-index: 100000000000000000000 !important;
}

mat-select{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid $lightBorder;
}


.angular-editor-textarea:focus{
    outline: 0 !important;
}


.action{
    justify-content: space-between;
    // height: 0;
    overflow: hidden;
    transition: hight $mainTransition;
    .btn{

        background: transparent;
        padding: .28rem .8rem;
        font-size: .9rem;
        
        &.btn-primary{
            color: #39afd1;
            border-color: #39afd1;
               
            &:hover{
                background-color: #39afd1 !important; 
                color: #fff;
            }
        }
    
        
    
        &.btn-danger{
            color: #fa5c7c;
            border-color: #fa5c7c; 
    
            &:hover{
                background-color: #fa5c7c; 
                color: #fff;
            }
        }
        
    }
}

.submit-btn{
    color: #fff;
    background-color: #4250f2;
    border-color: #3645f1;
    border-radius: 0;
    padding: 5px 15px;
    font-size: .9rem ;
    opacity: .8;
    transition: $mainTransition;
    &:hover{
        color: #fff ;
        border-color: #3645f1;
        opacity: 1;
    }
}

.main-label{
    font-size: 1.2rem;
    opacity: .9;
}

.sub-menu{
    .mat-content{
        font-size: 1.1rem;
    }

}

.control-item{
    .mat-expansion-indicator{
        padding: 0 15px !important;
    }

    .mat-expansion-panel-body{
        padding: 0 5px 10px;
    }
}

.thumbnail-wrapper{
    width: 40%;
    margin: auto;
    padding: 30px;

    .custom-file{
        height: 50px;
        display: flex;
        align-items: center;
        .custom-file-label{
            border: 0;
            display: block;
            padding: 10px;
            text-align: center;
            opacity: .8;
            font-weight: lighter;
        }
    
        .custom-file-input:lang(en) ~ .custom-file-label::after {  
            border: none;
            background-color: transparent;
            content: ''
        }
    }

    .submit-btn{
        width: calc(40% + 80px );
        margin: auto;
        display: block;
        box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    }
  
}

// chat component

.chat-users{
    .users-wrapper{
        max-height: 500px;
        padding: 15px;   
        overflow: hidden;

    &:hover{
        overflow-y: auto;
    }
        
        .user-wrapper{
            background-color: #E3EAEF;
            padding: 8px;
            box-shadow: 0 2px 6px 0 rgba(227,234,239,.5);
            border: 0;
        }

    }

    .search{
        $borderRadius: 10px; // for all inner items
        border: 1px solid $lightBorder;
        border-radius: $borderRadius;
        
        input{
            border: 0;
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;                        
        
        }
        
        .input-group-prepend{
            margin-right: 0 !important;
            
            
            span.input-group-text{
                border-top-left-radius: $borderRadius !important;
                border-bottom-left-radius: $borderRadius !important;
                
                border: 0;
                // border-radius: 0;
                background: #fff;
            }
        }
    //end custom search box
    }

    ::-webkit-scrollbar {
        width: 7px ;
        left: 0;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
        border: 1px solid $secondColor;
        border-radius: 20px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba($color: $adminBtnColor, $alpha: .6);
        outline: 1px solid slategrey !important;
    }


}


td{
    line-height: 1.9; 
}


.dashboard-search{
    // search and top pagination
    div.dataTables_wrapper div.dataTables_length label {
        color: $textColor;
    }
    
    
    .custom-select-sm {
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: .5rem;
        font-size: .875rem;
    }
    
    .custom-select {
        width: 70px;
        height: calc(2.2125rem + 2px);
        padding: .45rem 1.9rem .45rem .9rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    div.dataTables_filter input {
        margin-left: 0.5em;
        height: 35px;
        display: inline-block;
        width: 250px !important;
    }
    
}
    
    
.mat-snack-bar-container{
    background-color: transparent !important;
    box-shadow: none !important;
}


span.admin-btn-color{
    color: $adminBtnColor !important;

}

.admin-btn-color{
    color: $adminBtnColor !important;

}


.add-course{
    
#non-free-course{
    max-height: 300px;    
}

.expand{
    max-height: 330px !important;
}

.admin-btn{
    height: 50px;
    background-color: #E3EAEF;
    border: 0;
    color: $brawnColor;
    
    &:hover{
        color: $brawnColor !important;
    }

    &.active{
        background-color: $adminBtnColor;
        color: #fff;

        &:hover{
            color: #fff !important;
        }
            
        .fas{
            color: #fff;
        }
    }

}


.next-step-btn{
    display: block;
    width: 170px;
    border: 1px solid $adminBtnColor;
    color: $adminBtnColor;
    font-size: 1.2rem;
    &:hover{
        color: #fff !important;
        background-color: $adminBtnColor !important;
    }
}


.progress{
    height: 8px;
}

*{
    color: $brawnColor
}

.arrow-btn{
    background-color: #39AFD1;
    padding: 7px 15px;
    border-radius: 3px;
    margin: 8px;

    .fas{
        font-size: .8rem;
        color: #fff;
    }
}

.in-visible{
    height: 0;
    overflow: hidden;
}


.submit-btn{
    // font-size: .8rem;
    font-weight: lighter;

}

input{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.input-search{
    height: 35px;
    border: 1px solid $lightBorder;
    border-radius: 0;
    padding: 3px;
    color: $textColor
}


.fa-plus, .fa-minus{
    color: white;
    height: 100%;
    padding: 0 15px;
    background-color: #0acf97;
    border-color: #0acf97;
    box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);

    &:hover{
        color: #fff;
        background-color: #08ab7c;
        border-color: #089e74;
    }
        
}


.fa-minus{
    background-color: #fa5c7c;
    border-color: #fa5c7c;
    box-shadow: 0 2px 6px 0 rgba(250,92,124,.5);
    &:hover{
        color: #fff;
        background-color: #f9375e;
        border-color: #f82b54;
    }
        
}
}


// for pagination
.pagination-wrapper{
    .number{
        font-size: 20px;
        align-items: center;
        background-color: $adminBtnColor;
        width: 30px;
        height: 30px;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    
    .fa-angle-double-right, .fa-angle-double-left{
        display: flex;
        justify-content: center;
        width: 30px;
        font-size: 1.4rem;
    
        &.disabled{
            opacity: .4;
        }
    }
}
