<app-component-title 
[title]="'about us'" 
[sub-title]="'about us'" 
src="'assets/images/core/about-slider.png'">
</app-component-title>

<section class="about-wrpper main-background">
    <div class="container">
        <div class="row pt-30 pb-50">
            <div class="col-lg-8 desc-wrapper">
                <h2 class="main-title mb-10 lighter-header-color">A litle Something About Us</h2>
                <p class="desc light-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam amet, maxime
                    illo magnam a rem minus ipsa et! Recusandae quis voluptate ratione error, iure nesciunt distinctio
                    exercitationem asperiores doloremque voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos fugiat quis hic dolore laborum perspiciatis ducimus? Minima vero debitis soluta? Non iure harum totam! Dolorum voluptatum iusto exercitationem deserunt.
                </p>

                <!-- <div class="row no-gutters details mt-30">

                    <div class="growth-wrapper col-md-3 col-6 row p-0">
                        <img class="col-4 img-fluid growth" src="assets/images/core/growth.png" alt="">

                        <div class="col-6 d-inline-block">
                            <span class="number d-block"> 355 </span>
                            <span class="silver-color tilte d-block"> Instructor</span>
                        </div>
                    </div>

                    <div class="growth-wrapper col-md-3 col-6 row p-0">
                        <img class="col-4 growth" src="assets/images/core/growth.png" alt="">

                        <div class="col-6 d-inline-block">
                            <span class="number d-block"> 355 </span>
                            <span class="silver-color tilte d-block"> Instructor</span>
                        </div>
                    </div>


                    <div class="growth-wrapper col-md-3 col-6 row p-0">
                        <img class="col-4 growth" src="assets/images/core/growth.png" alt="">

                        <div class="col-6 d-inline-block">
                            <span class="number d-block"> 355 </span>
                            <span class="silver-color tilte d-block"> Instructor</span>
                        </div>
                    </div>


                    <div class="growth-wrapper col-md-3 col-6 row p-0">
                        <img class="col-4 growth" src="assets/images/core/growth.png" alt="">

                        <div class="col-6 d-inline-block">
                            <span class="number d-block"> 355 </span>
                            <span class="silver-color tilte d-block"> Instructor</span>
                        </div>
                    </div>
                </div> -->
            </div>

            
            <div class="col-lg-4 mt-30 right-img-wrapper">
                <img src="assets/images/core/about-desc.png" alt="">
            </div>
        </div>
    </div>
</section>

<div class="mb-50"></div>