<app-component-title 
[title]="'our instructors'" 
[sub-title]="'instructor'" 
src="'assets/images/core/about-slider.png'">
</app-component-title>


<section class="main-section main-background">
    <div class="container">

        <h2 class="m-0 main-header-color text-capitalize">dr manal mohamed hassan</h2>
        <h3 class="m-0 second-header-color text-capitalize">cardiovascular pharmacology london university</h3>
    
        <div class="row">
            <div class="col-md-9 row">
                <div class="col-md-5">
                    <img class="img-fluid img-rounded" src="assets/images/core/instructor.png" alt="">
                </div>

                <div class="col-md-7">
                    <h4 class="mt-40 mb-50">Welcome to my page</h4>

                    <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto asperiores molestias omnis, reprehenderit perferendis obcaecati exercitationem quam dolorem est quia porro repellat odio incidunt eligendi labore ex sit? Rem, commodi?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laborum nostrum harum numquam, recusandae veritatis quaerat perferendis obcaecati quod, voluptas sapiente quisquam itaque incidunt a velit est saepe praesentium voluptatum.
                    </p>
                </div>
            </div>

            <!-- reviews -->

            <div class="reviews-wrapper col-md-3">
                <p class="email">karimali@gmail.com</p>

                <p class="rate">
                    <i class="far fa-star main-color"></i>

                    Instructor Rating
                </p>

                <p class="courses-number">45 Courses</p>

                <a href="" class="ph-40 btn second-btn">Reviews</a>
            </div>
        </div>
    </div>
</section>