@import "variables";
img{
    margin-top: 8px;
    height: 310px;
}

h4{
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(33,37,41)
}

p.desc{
    color: rgb(84,84,84);
    line-height: 1.5rem;
}


.reviews-wrapper{
    margin-top: -12px;
    border: 1px solid $lightBorder;
    p{
        padding: 10px 30px;
        background-color: #fff;
        font-size: 1.2rem;
        color: rgb(81,92,111);
    }

    .btn{
        width: calc(100% - 20px);
        border-radius: 0;
        background-color: rgba(87,154,211,.5);
        text-align: start;
       
        &:hover{
            background-color: rgba(87,154,211,1);
            color: #fff;
        }
    }
// }
// .rate{
//     font-size: 1.2rem;
// }

}

// new review

.new-review-wrapper{
    border: 1px solid $lightBorder;
    margin-top: 30px ;
    background-color: #fff;
    padding: 10px 50px 30px 30px ;
.review{
    font-size: 2rem;
    // color: $lightBorder;
    font-weight: lighter;
    display: block;
    margin-bottom: 18px;
}


.third-title{
    color: #a2a2a2;
    font-size: .9rem;
    font-weight: 450;
    margin: 0;
    padding: 0
}


.second-title{
    font-weight: normal;
}

textarea{
    resize: none;
}
// table

table{
    th{
        border-bottom: 0;
        background-color: #f8f8f8;
        font-size: .7rem ;
    }

    td{
        text-align: center;
        color: $grayColor;
    }

    .radio{
        &:hover{
           cursor: pointer;
        }
    }

}

.submit-btn{
    border-radius: 3px;
}

}

