<app-component-title *ngIf="instructor"
[title]="'our instructors'" 
[sub-title]="'instructor/ ' + instructor.user_data.first_name + ' ' + instructor.user_data.last_name " 
src="'assets/images/core/about-slider.png'">
</app-component-title>

<section *ngIf="instructor" class="main-section main-background">
    <div class="container">

        <h2 class="m-0 main-header-color text-capitalize"> <span class=" second-header-color">{{instructor.user_data.title}} </span>  {{instructor.user_data.first_name}} {{instructor.user_data.last_name}}</h2>
        <h3 class="m-0 mb-10 second-header-color text-capitalize">{{instructor.user_data.title}}</h3>
    
        <div class="row">
            <div class="col-xl-9 row">
                <div class="col-md-5">
                    <img class="img-fluid img-rounded" [src]="'//devmode.fv.academy/public/files/' + instructor.image" alt="">
                </div>

                <div class="col-md-7">
                    <h4 class="mt-40 mb-50">Welcome to my page</h4>

                    <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto asperiores molestias omnis, reprehenderit perferendis obcaecati exercitationem quam dolorem est quia porro repellat odio incidunt eligendi labore ex sit? Rem, commodi?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laborum nostrum harum numquam, recusandae veritatis quaerat perferendis obcaecati quod, voluptas sapiente quisquam itaque incidunt a velit est saepe praesentium voluptatum.
                    </p>
                </div>
            </div>

            <!-- reviews -->

            <div class="col-xl-3 p-0">
              <div class="pv-30 reviews-wrapper mt-30">
                <p class="email">{{instructor.user_data.email }}</p>

                <p class="rate">
                    <i class="far fa-star main-color"></i>
                    Instructor Rating
                </p>

                <p class="courses-number">45 Courses</p>

                <a href="" class="text-center ph-40 mh-10 btn second-btn">Reviews</a>
              </div>
            </div>
            
        </div>
    
        
    <!-- review -->

        <div class="new-review-wrapper" >
            <h4 class="pt-40 second-title mb-20">Write Your Own Review</h4>

            <form class="pb-20 row new-review">
                <div class="black-header-color col-lg-5">
            <h5 class="third-title">You're reviewing <span class="black-header-color"> karim ali hassan saber course</span>    </h5>
            <h5 class="third-title">How do you rate this product </h5>
    
            <table class="mt-10 table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">1 Star</th>
                    <th scope="col">2 Stars</th>
                    <th scope="col">3 Stars</th>
                    <th scope="col">4 Stars</th>
                    <th scope="col">5 Stars</th>
                  </tr>
                </thead>
                
               
                <tbody>
                  <tr>
                    <td scope="row">Price</td>
                    
                    
                    <td class="radio-wrapper" [id]="i" name="price" *ngFor="let i of [1,2,3,4,5]">
                      <!-- <mat-radio-button [id]="i" value="{{i}}" name="price" ></mat-radio-button> -->
                      <!-- <i class="far fa-circle"></i> -->
                      <input class="radio"  required [id]="i" [value]="i" name="price" type="radio">

                    </td>
                  </tr>

                  <tr>
                    <td scope="row">Value</td>
                    
                    <td *ngFor="let i of [1,2,3,4,5]">
                        <input required class="radio" [id]="i" [value]="i" name="value" type="radio">
                    </td>
                  </tr>

                  <tr>
                    <td scope="row">Quality</td>
                    
                    <td *ngFor="let i of [1,2,3,4,5]">
                        <input required class="radio" [id]="i" [value]="i" name="quality" type="radio">
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    
        <div class="col-lg mt-30">
            <div class="form-group">
                <label class="review" for="second-title Review">Review</label>
                <textarea required class="form-control" id="Review" rows="5"></textarea>
            </div>

              <button class="btn second-btn submit-btn">Submit Review</button>
        </div>
        </form>
    </div>
    </div>
</section>